#top img:hover {
  cursor: zoom-in;
}
#overlay #top img {
  max-width: 90%;
  max-height: 90%;
}

#overlay:target {
  display: flex;
}
#exfr h3:hover {
  border-color: #782221;
  border-left-width: 10px;
}
#icon img:hover {
  opacity: 80%;
}
address a:hover {
  text-decoration: underline;
}
